* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.header {
 
  text-align: center;
  margin-top: 100px;
}
h1 {
  color: red;
  font-weight: 500;
  font-size: xx-large;
  margin-bottom: 30px;
}
.main {
  border: 5px solid blue;
  width: 30vw;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 25vw;
  height: 3rem;
}
.btn {
  width: 5vw;
  height: 3rem;
}
.main1{
  height: 3rem;
 display: flex;
 justify-content: space-around;
 align-items: center;
border: 5px solid blue;
text-align: center;

}
p{
   width: 25vw;
  height: 1.5rem;
  text-align: left;
  align-items: center;

  
}